<div class="bgHeader"></div>
<!-- Form -->
<div class="row">
    <div class="container">

        <div ng-include="'app/views/form.html'"></div>
       
    </div>
</div>

<!-- Results -->
<div class="row">
    <div id="Export" class="container" ng-show="!form">
        <div ng-include="'app/views/result.html'"></div>
    </div>
</div>
<!-- Tools -->
<div class="row">
    <div class="container" ng-show="!form">
        <div ng-include="'app/views/tools.html'"></div>
    </div>
</div>

<!-- DEBUGER -->
<br/><br/>
<div class="row">
    <div class="container">
        
        <div class="col-md-10 col-md-offset-1">
            <button ng-click="debugger()" class="btn btn-danger">
            Debug Log
            </button>
            <pre  ng-show="!debug">DEBUG LOG:<br/>
            <b>FORM:</b> {{form | json}}
            
            <b>RESULTS:</b>{{results | json}}
            </pre>
        </div>
    </div>
</div>

