<script type="text/ng-template" id="export.html">
    <div ng-controller="exportController">
    <div class="modal-header">
        <h3 class="modal-title">Add a Message:</h3>
        </div>
        <div class="modal-body">
                <label>Mesage</label>
                <textarea class="form-control" ng-model="m"></textarea>
         
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="savePDF(m)">Save PDF</button>    
        </div>
    </div>
</script>

