<div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">Analysis: <small ng-model="site">{{site}}</small></h2>
    <h5 class="text-center">{{date}}</h5>
    <form class="form" ng-show="form">
        <div class="form-group">
            <label>Site</label>
            <input type="url" ng-model="url" class="form-control" placeholder="http(s)://example.com">
        </div>
        <div class="form-group">
            <button ng-click="load(url)" class="btn btn-success">GO!!!!</button>
        </div>
</form>
</div>
