<!-- Modal -->
<div class="modal fade" id="{{btn.class}}" tabindex="-1" role="dialog" aria-labelledby="{{btn.class}}ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{btn.class}}Label">{{btn.class}}</h4>
      </div>
        {{btn.site}}
      <div class="modal-body">
        <iframe src="{{btn.site}}" width="{{btn.width}}" height="{{btn.height}}"></iframe>
      </div>
        <div class="modal-footer">
            Vivid Software Solutions
        </div>
    </div>
  </div>
</div>
<!-- End Modal -->