<div class="container-fluid">
    <div class="col-md-4">
        <div class="text-center">
            <h5>Iframes</h5>
            <button class="btn btn-primary btn-sm">100x589</button>
            <button class="btn btn-primary btn-sm">100x589</button>
            <button class="btn btn-primary btn-sm">100x589</button>
            <button class="btn btn-primary btn-sm">100x589</button>
        </div>
    </div>
    <div class="col-md-8">
        <div class="text-right">
            <h5>Export</h5>
            <button ng-show="!form" ng-click="clearLookUp()" class="btn btn-danger btn-sm">New Search</button>    
               <button class="btn btn-primary btn-sm" ng-click="export()">Export to PDF</button>
        </div>
    </div>    
</div>